/* spacing */
html {
    font-family: "helvetica neue", helvetica, arial, sans-serif;
}

table {
    table-layout: fixed;
    width: 80%;
    border-collapse: collapse;
    border: 3px solid rgb(10, 10, 10);
    margin:auto;
    text-align: center;
}

thead th:nth-child(1) {
    width: 10%;
}

thead th:nth-child(2) {
    width: 10%;
}

thead th:nth-child(3) {
    width: 15%;
}

thead th:nth-child(4) {
    width: 35%;
}

th {
    letter-spacing: 2px;
    padding: 20px;
}

td,.show, .hide {
    letter-spacing: 1px;
    padding: 20px;
}

#overlay {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  display: none;
  }
#overlay_content{
    width: 100%;
    text-align: center;
}

.btn {
    --c:  #229091; /* the color*/
  
  box-shadow: 0 0 0 .1em inset var(--c); 
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: 
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;
  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
}
.btn:hover {
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
}
.btn:active {
    box-shadow: 0 0 9e9q inset #0009; 
    background-color: var(--c);
    color: #fff;
  }

  