/* spacing */
html {
    font-family: "helvetica neue", helvetica, arial, sans-serif;
}

table {
    table-layout: fixed;
    width: 80%;
    border-collapse: collapse;
    border: 3px solid purple;
    align-content: center;
}

thead th:nth-child(1) {
    width: 30%;
}

thead th:nth-child(2) {
    width: 20%;
}

thead th:nth-child(3) {
    width: 15%;
}

thead th:nth-child(4) {
    width: 35%;
}

th,
td {
    padding: 20px;
}

th {
    letter-spacing: 2px;
}

td {
    letter-spacing: 1px;
}